<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="small-12 columns gutters">
      <h1 class="text-center"> <%= @decorator.header %></h1>
      <div class="panel rounded-panel">
        <div id="season-games"><%= render partial: 'game_grid' %></div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', seasons_path %>
