<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="small-12 columns">
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns gutters">
      <h1 class="text-center">Recent Games</h1>
      <div id="games"> <%= render partial: 'games' %> </div>
    </div>
  </div>
</div>
