<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center">Recent Games</h1>
  <div class="col-md-12">
    <div id="games"> <%= render partial: 'games' %> </div>
  </div>
</div>
