/*
*= require_self
*= require foundation_and_overrides
*= require_tree .
*/

table tr th {
	text-align: center;
}

.player-table {
	font-size: 12px;
}

.player-table > thead {
	font-weight: normal;
}
