$brand-primary:	#0776A0 !default;
$brand-success: #07A07E !default;
$brand-info:		#00D3FF !default;
$brand-warning:	#FFb600 !default;
$brand-danger:	#FF2C00 !default;

$body-bg:				#f5f5f5 !default;

$font-family-sans-serif:	Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace:		Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace !default;

$navbar-height:								60px !default;
// $navbar-margin-bottom:
// $navbar-border-radius:
// $navbar-padding-horizontal:
// $navbar-padding-vertical:
// $navbar-collapse-max-height:


$navbar-default-color:								#fff !default;
$navbar-default-bg:										#00d3ff !default;

$navbar-default-link-color:						#fff !default;
$navbar-default-link-hover-color:			#fff !default;
$navbar-default-link-hover-bg:				#0776A0 !default;
$navbar-default-link-active-color:		#fff !default;
$navbar-default-link-active-bg:				#0776a0 !default;
$navbar-default-link-disabled-color:	#fff !default;
$navbar-default-link-disabled-bg:			#00d3ff !default;

$navbar-default-brand-color:					#0776A0 !default;
$navbar-default-brand-hover-color:		#fff !default;
$navbar-default-brand-hover-bg:				#00D3FF !default;

$navbar-default-toggle-hover-bg:			#00d3ff !default;
$navbar-default-toggle-icon-bar-bg:		#888 !default;
$navbar-default-toggle-border-color:	#ddd !default;

$nav-link-hover-bg:										#0776a0 !default;
$nav-disabled-link-color:							#fff !default;
$nav-disabled-link-hover-color: 			#fff !default;

$dropdown-bg:													#ddd !default;
$dropdown-link-color:									#0776a0 !default;
$dropdown-link-hover-color:						#fff !default;
$dropdown-link-hover-bg:							#07a07e !default;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand,
.nav-pills li a {
	line-height: 60px;
	height: 60px;
	padding-top: 0;
	color: #054c68;
	font-weight: bold;
}

.nav-pills li a:hover {
	color: #fff;
}

.nav-pills .active li a {
	color: #fff;
}

.dropdown .open {
	color: #fff;
}

.dropdown-menu li a {
	color: #444;
	line-height: 40px;
	height: 40px;
}

.puck-logo {
	margin-top: 7px;
}

th {
	text-align: center;
}

.name-col {
	text-align: left;
}

th {
	vertical-align: center;
}
th a {
	color: #fff;
}

th a:hover{
	color: #00D3FF;
}

h1 {
	color: #0776A0;
	font-family: Futura, Avenir, Helvetica, sans-serif;
}

h2 {
	color: #0776A0;
	font-family: Avenir, Helvetica, sans-serif;
}

h3 {
	color: #0776A0;
	font-family: Avenir, Helvetica, sans-serif;
}

h4 {
	color: #0776A0;
	font-family: Avenir, Helvetica, sans-serif;
}

body {
	font-family: Avenir, Helvetica, sans-serif;
}

.panel-default {
	border-color: #0776a0;
}

.title-row-jml {
	background-color: #0776a0;
	color: #fff;
}

.white-border {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.dot-col-border {
	border-right: 1px dotted #ccc;
	border-left: 1px dotted #ccc;
}

.nav-tabs {
	padding-left: 10px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #0776a0;
}

.nav-tabs a:hover {
	color: #fff;
	background-color: #0776A0;
}

.search-box {
	color: #0776a0;
	font-size: 14px;
	padding: 10px;
	padding-bottom: 0px;
	font-weight: normal;
}

.search-button {
	color: #05526f;
	background-color: $brand-info;
	padding: 5px;
	line-height: 15px;
}

.search-button:hover {
	color: #fff;
	background-color: $brand-success;
}

.paginator {
	margin-top: 0px;
	padding-top: 0px;
}

.pagination {
	margin: 0;
}

.table {
	margin-bottom: 0px;
}

.table tr {
	border-bottom: 1px solid #ddd;
}

.panel-default > .panel-heading {
	background-color: #ddd;
}

.panel-heading > h3 {
	margin: 0;
	margin-top: 5px;
}

.pagination {
	padding: 10px;
	margin-top: 5px;
}

@import "players.scss";
@import "games.scss";
@import "seasons.scss";
@import "teams.scss";
