// These are NHL team colors for graphs and such

$black: #000000;
$white: #FFFFFF;

// Anaheim Ducks
$ana1: $black;
$ana2: #91764B;
$ana3: #EF5225;

// Arizona Coyotes
$ari1: #841F27;
$ari2: $black;
$ari3: #efe1c6;

// Boston Bruins
$bos1: $black;
$bos2: #FFC422;

// Buffalo Sabres
$buf1: #002E62;
$buf2: #FDBB2f;
$buf3: #aeb6b9;

// Calgary Flames
$cgy1: #e03a3e;
$cgy2: #ffc758;
$cgy3: $black;

// Carolina Hurricanes
$car1: #e03a3e;
$car2: $black;
$car3: #8e8e90;

// Chicago Blackhawks
$chi1: #e3263a;
$chi2: $black;

// Colorado Avalanche
$col1: #8b2942;
$col2: #01548a;
$col3: $black;
$col4: #a9b0b8;

// Columbus Blue Jackets
$cbj1: #00285c;
$cbj2: #e03a3e;
$cbj3: #a9b0b8;

// Dallas Stars
$dal1: #006a4e;
$dal2: $black;
$dal3: #c0c0c0;

// Detroit Red Wings
$det1: #ec1f26;
$det2: $white;

// Edmonton Oilers
$edm1: #003777;
$edm2: #e66a20;

// Florida Panthers
$fla1: #c8213f;
$fla2: #002e5f;
$fla3: #d59c05;

// LA Kings
$lak1: $black;
$lak2: #afb7ba;

// Minnesota Wild
$min1: #025736;
$min2: #bf2b37;
$min3: #efb410;
$min4: #eee3c7;

// Montreal Canadiens
$mtl1: #bf2f38;
$mtl2: #213770;

// Nashville Predators
$nsh1: #fdbb2f;
$nsh2: #002e62;

// New Jersey Devils
$njd1: #e03a30;
$njd2: $black;

// New York Islanders
$nyi1: #00529B;
$nyi2: #f57d31;

// New York Rangers
$nyr1: #0161ab;
$nyr2: #e6393f;

// Ottawa Senators
$ott1: #e4173e;
$ott2: $black;
$ott3: #d69f0f;

// Philadelphia Flyers :)
$phi1: #f47940;
$phi2: $black;

// Pittsburgh Penguins :0=
$pit1: $black;
$pit2: #d1bd80;

// San Jose Sharks
$sjs1: #05535d;
$sjs2: #f38f20;
$sjs3: $black;

// St Louis Blues
$stl1: #0546a0;
$stl2: #ffc325;
$stl3: #101f48;

// Tamba Bay Lightning
$tbl1: #013e7d;
$tbl2: $black;
$tbl3: #c0c0c0;

// Toronto Maple Leafs (Leaves?)
$tor1: #003777;
$tor2: $white;

// Vancouver Canucks
$van1: #07346f;
$van2: #047a4a;
$van3: #a8a9ad;

// Washington Capitals
$wsh1: #cf132b;
$wsh2: #00214e;
$wsh3: $black;

// Winnipeg Jets
$wpg1: #002e62;
$wpg2: #0168ab;
$wpg3: #a8a9ad;
