$primary-color: #2196f3;
$primary-color-dark: #0d47a1;
$primary-color-light: #90caf9;
$global-radius: 4px;

$white:       #FFFFFF;
$ghost:       #fafafa;
$snow:        #f9f9f9;
$vapor:       #f6f6f6;
$white-smoke: #f5f5f5;
$silver:      #efefef;
$smoke:       #eeeeee;
$gainsboro:   #dddddd;
$iron:        #cccccc;
$base:        #aaaaaa;
$aluminum:    #999999;
$jumbo:       #888888;
$monsoon:     #777777;
$steel:       #666666;
$charcoal:    #555555;
$tuatara:     #444444;
$oil:         #333333;
$jet:         #222222;
$black:       #000000;

@import "variables";
@import "functions";

.puck-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th {
      vertical-align: bottom;
      border-top: 1px solid $primary-color;
      border-left: 1px solid $white;
      background-color: $primary-color;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      a {
        color: $white;
      }
      &:first-child {
        border-left: 1px solid $primary-color;
      }
      &:last-child {
        border-right: 1px solid $primary-color;
      }
    }
  }
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-left: 1px dotted $table-border-color;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid $table-border-color;
  }
  thead > td {
    border: {
      top: 0;
      bottom: 1px solid $table-border-color;
      left: 1px solid $white;
      right: 0;
    }
  }
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
  > tbody > tr:hover {
    background-color: $primary-color-light-transparent;
  }
}

.puck-table.smaller {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-cell-padding;
      }
    }
  }
  > thead > tr {
    > th {
      text-transform: none;
      font-weight: 400;
      font-size: 13px;
    }
  }
  > tbody {
    font-size: 13px;
  }
}

.datepicker-button {
  border: 1px solid #ccc !important;
  border-radius: $global-radius !important;
  min-width: 90px !important;
  display: table-cell;
}

.timepicker-button {
  border: 1px solid #ccc !important;
  border-radius: $global-radius !important;
  min-width: 70px !important;
  display: table-cell;
}

.panel.with-nav-tabs {
  .panel-heading {
    padding: 5px 5px 0 5px;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-justified {
    margin-bottom: -1px;
  }
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #fff;
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

.game-score {
  margin-top: 0;
}

.game-date {
  margin-top: 0;
  margin-bottom: 25px;
}

.top-performer-panel {
  > .panel-heading > h3 {
    font-size: 20px;
    text-transform: uppercase;
  }
  .player-name {
    margin-top: 2px !important;
    margin-bottom: 10px !important;
  }
  table {
    margin: 5px;
  }
}

.headshot {
  border-radius: $global-radius;
}

.bio-btn {
  margin: 5px !important;
}

.plus-minus {
  background-image: url("plus-minus.png")
}

body {
  background-color: $primary-color-dark;
}

.container {
  background-color: $white;
  border-radius: $global-radius;
  padding-top: 15px;
}

.navbar.navbar-default {
  margin-bottom: 0px;
  border-radius: 0;
}

span.x-script {
  position: relative;
}

span.x-script sub {
  position: absolute;
  left: 0.25em;
  bottom: 0.5em;
}

span.bold {
  font-weight: bold;
}

#running-events {
  width: auto;
  height: auto;
  min-width: 85%;
}

#heat-map {
  width: auto;
  height: auto;
  min-width: 85%;
  min-height: 600px;
}

.highcharts-tooltip > span {
  background: rgba(255,255,255,0.85);
  border: 1px solid $gainsboro;
  border-radius: $global-radius;
  box-shadow: 1px 1px 2px $jumbo;
  padding: 8px;
}

#season-games {
  width: auto;
}

#highcharts-0 > span {
 border-radius: $global-radius;
 font-family: $font-family-sans-serif !important;
 text-transform: uppercase;
 font-weight: bold;
 padding: {
   left: 5px !important;
   right: 5px !important;
 }
}
