// Place all the styles related to the seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.season-panel > .panel-heading {
	background-color: #ddd;
	color: #0776A0;
	font-family: Futura, Avenir, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	font-size: 18px;
}

.table-hover > tbody > tr:hover {
	background-color: $brand-info;
}
